
<body class="center">
  <h3> All trips</h3><br>
<div class="container">
  <table class="table table-striped">
    <thead>
        <tr>
          <th>Title</th>
          <th>Date</th>
          <th>Distance</th>
          <th>From</th>
          <th>To</th>

        </tr>
    </thead>
    <tbody>
      <tr *ngFor="let log of logs">
        <td>{{ log.title }}</td>
        <td>{{ log.date }}</td>
        <td>{{ log.distance }}</td>
        <td>{{ log.fromharbor }}</td>
        <td>{{ log.toharbor }}</td>
      
      </tr>
    </tbody>
  </table>
</div>
</body>