<p></p><body class="center">
<h2> Welcome to your homepage </h2>

Here will be displayed some of you information about your Boat, last visited harbors etc.
    
<div class="container">
    
        <table class="table table-striped">
        <thead>
                <tr>
                  <th>Name Boat</th>
                  <th>Harbor</th>
                  <th>Brand</th>
                  <th>Length in ft</th>
                </tr>
            </thead>
            <tbody>
              <tr *ngFor="let boat of boats">
                <td>{{ boat.name }}</td>
                <td>{{ boat.harbor }}</td>
                <td>{{ boat.brand }}</td>
                <td>{{ boat.ft }}</td>          
              </tr>
            </tbody>
            </table>


        <table class="table table-striped">
          <thead>
              <tr>
                <th>Title</th>
                <th>Date</th>
                <th>Distance</th>
                <th>From</th>
                <th>To</th>
      
              </tr>
          </thead>
          <tbody>
            <tr *ngFor="let log of logs">
              <td>{{ log.title }}</td>
              <td>{{ log.date }}</td>
              <td>{{ log.distance }}</td>
              <td>{{ log.fromharbor }}</td>
              <td>{{ log.toharbor }}</td>
            
            </tr>
          </tbody>
        </table>

        <table class="table table-striped">
          <thead>
              <tr>
                <th>Title</th>
                <th>Harbor</th>
                <th>Spaces</th>
                <th>Occupied spaces</th>    
              </tr>
          </thead>
          <tbody>
            <tr *ngFor="let harbor of harbors">
              <td>{{ harbor.name }}</td>
              <td>{{ harbor.harbor }}</td>
              <td>{{ harbor.spaces }}</td>
              <td>{{ harbor.occupied }}</td>
            </tr>
          </tbody>
        </table>

