.container {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.center {
    text-align: center;
    margin: auto !important; 
    width: 25% !important;
    padding: 10px;
  }